@tailwind base;
@tailwind components;
@tailwind utilities;

/* Si tu veux utiliser la police locale */
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("/fonts/MuseoSansCyrl-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "MuseoSansCyrl", sans-serif;
}

.glow {
  text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
}
